<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta content='text/html; charset=utf-8' http-equiv='content-type' />
{{ partial "open_graph.html" . }}
{{ hugo.Generator }}

<style type="text/css">{{ partial "css/variables.css" . | safeCSS }}</style>

<link rel="stylesheet" href={{ "lib/font-awesome/css/all.min.css" | relURL }}>


<link href='{{ "css/tachyons.min.css" | relURL }}' rel="stylesheet">
<link href='{{ "css/styles.css" | relURL }}' rel="stylesheet">

<!-- Icon -->
<link rel="icon" 
{{ if .Site.Params.favicon }}
  href="{{ .Site.Params.favicon | relURL }}" 
{{ else }} 
  href='{{ "/favicon.ico" | relURL }}'
{{ end }}
type="image/x-icon"/>

<link href='{{ "/feed.xml" | relURL }}' rel="alternate" type="application/atom+xml" title="{{ .Site.Title }}" />
{{ template "_internal/google_analytics_async.html" . }}