{{ if gt .Paginator.TotalPages 1 }}
<div class="pagination tc db fixed-l bottom-2-l right-2-l mb3 mb0-l">
{{ partial "back-to-top.html" . }}<br>
<p class="mb0 mt2">{{ .Paginator.PageNumber }} / {{ .Paginator.TotalPages }} <br>
  <a href="{{ .Paginator.First.URL | relURL }}">[ 首页 ]</a>
  {{ if .Paginator.HasPrev }}<a href="{{ .Paginator.Prev.URL | relURL }}">[ 上一页 ]</a>{{ end }}
  {{ if .Paginator.HasNext }}<a href="{{ .Paginator.Next.URL | relURL }}">[ 下一页 ]</a>{{ end }}
  <a href="{{ .Paginator.Last.URL | relURL }}">[ 尾页 ]</a>
</p>
</div>
{{ end }}
