{{ $related := (where site.RegularPages "Type" "in" site.Params.mainSections).Related . | first 5 }}
{{ with $related }}
<div class="releated-post">
  <h3>相关文章</h3>
  {{ range . }}
  <i class="fas fa-angle-right"></i>
  <a class="link dark-gray f6" href="{{ .RelPermalink }}">{{ .Title }}</a>
  <br>
  {{ end }}
</div>
{{ end }}
